<h1>Editing tree</h1>

<%= render "form", tree: @tree %>

<br>

<div class="container">
  <%= link_to "Show this tree", @tree, class: "button-1" %>
  <%= link_to "Back to trees", trees_path, class: "button-1" %>

</div>
