<%= stylesheet_link_tag "pricing" %>
<main class="main flow">
  <div class="main-cards">
  <h1 class="heading">Pricing</h1>
    <div class="cards-inner">
      <!-- Pricing Plan 1 (Freelance) -->
      <div class="card">
        <h2 class="card-heading">Freelance</h2>
        <p class="card-price">$29/mo</p>
        <ul role="list" class="card-bullets flow">
          <li>1 GB of space</li>
          <li>Support at $25/hour</li>
          <li>Limited cloud access</li>
        </ul>
        <%= link_to "Choose plan", "#", class: "button-1" %>
      </div>

      <!-- Pricing Plan 2 (Business) -->
      <div class="card card-featured2">
        <h2 class="card-heading">Business</h2>
        <p class="card-price">$59/mo</p>
        <ul role="list" class="card-bullets flow">
          <li>5 GB of space</li>
          <li>Support at $5/hour</li>
          <li>Full cloud access</li>
        </ul>
        <%= link_to "Choose plan", "#", class: "button-1" %>
      </div>

      <!-- Pricing Plan 3 (Enterprise) -->
      <div class="card card-featured">
        <h2 class="card-heading">Enterprise</h2>
        <p class="card-price">$99/mo</p>
        <ul role="list" class="card-bullets flow">
          <li>10 GB of space</li>
          <li>Support at $5/hour</li>
          <li>Full cloud access</li>
        </ul>
        <%= link_to "Choose plan", "#", class: "button-1" %>
      </div>
    </div>
  </div>
</main>

