/* navbar.css */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0d0d0d;
    color: white;
    padding: 10px;
    height: 10vh;
    margin: 0px;
  }
  
  .navbar img {
    width: 80px;
    height: 80px;
  }
  

  .navbar a {
    color: white;
    padding: 8px 15px;
    text-decoration: none;
    font-size: 16px;
    padding: 10px 20px;
  }
  
  .navbar a:hover {
    background-color: var(--color-tertiary);
    border-radius: 20px;
    text-decoration: none;
   
  }
  
  .navbar-right {
    display: flex;
  }
  
  .navbar-right a {
    margin-left: 10px;
  }
  
  .logo-container {
    display: flex;
    align-items: center; /* Aligns the logo and text vertically */
    gap: 10px; /* Adds some space between the logo and the text */
  }

  .logo-container:hover{

  }

  
  .logo {
    box-shadow: #0d0d0d;
  }
  
  .logo:hover {
  }
  
  .logo-text {
    color: var(--color-primary); /* Sets the "TreeLink" text color to green */
    font-size: 20px; 
    font-weight: 800;
  }
  